body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: 'Poppins', sans-serif;
}

.calculator {
  background: #2827279f;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
  width: 800px;
}

.display {
  width: 100%;
  height: 60px;
  text-align: right;
  font-size: 2em;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #e9d7d7;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #ddd;
}

.operator {
  background-color: #08e5fe;
  color: white;
}

.equal {
  background-color: #764ba2;
  color: white;
  grid-column: span 2;
}

.clear {
  background-color: #ff4d4d;
  color: white;
}
